.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #f3ede0;
}

.frame {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}
