.inner {
    padding: 20px 40px;
}

.search {
    width: 800px;
    position: relative;

    .input {
        width: 100%;
        height: 50px;
        font-size: 1.6rem;
        padding: 10px 15px;
        // padding: 10px 15px 10px 5px;
        border-radius: 6px;
        border: 3px solid var(--header-color);
    }

    .btn-search {
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        color: var(--header-color);

        .icon-search {
            font-size: 2.2rem;
            color: #90939b;

            &:active {
                color: var(--header-color);
            }
        }
    }

    .input:not(:placeholder-shown) + .btn-search .icon-search {
        color: var(--header-color);
    }
}

.content {
    .game-item {
        display: block;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        will-change: transform, box-shadow;
        background-color: transparent;
        border-radius: 10px;
        overflow: hidden;

        &:hover {
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
            transform: translateY(-1px);
            background-color: transparent !important;
        }
    }

    .image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        display: block;
        border-radius: 10px;
    }
    .title {
        margin: 6px 0;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: center;
    }
}
